{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
<div class="container">
    <div class="row text-center">
        {% for product in object_list %}
            <div class="col-3">
                <div class="card mb-4 box-shadow" style="height: 400px; display: flex; flex-direction: column;">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">{{ product.name }}</h4>
                    </div>
                    <img src="{{ product.image | media_filter }}" alt="{{ product.name }}" style="max-height: 150px; object-fit: cover; width: 100%;">
                    <div class="card-body" style="flex-grow: 1; padding-bottom: 10px;">
                        <p class="list-unstyled mt-3 mb-4 text-center m-3" style="height: 50px;">
                            {{ product.description|slice:":100" }}{% if product.description|length > 100 %}...{% endif %}
                        </p>
                    </div>
                    <div style="display: flex; justify-content: space-between; padding: 10px;">
                        <a href="{% url 'catalog:product_detail' product.pk %}" class="btn btn-lg btn-outline-primary">Посмотреть</a>
                        <a href="{% url 'catalog:product_update' product.pk %}" class="btn btn-lg btn-outline-primary">Редактировать</a>
                        <a href="{% url 'catalog:product_delete' product.pk %}" class="btn btn-lg btn-outline-primary">Удалить</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
