{% extends 'catalog/base.html' %}

{% block content %}
<div class="container">
    <div class="row text-center">
        <div class="col-3">
            <form class="row" method="post" enctype="multipart/form-data">
                <div class="card">
                    <p class="card-text">Действительно Вы хотите удалить продукт {{ object.name }}?</p>
                    <div class="card-body">
                       {% csrf_token %}
                    </div>
                    <button type="submit" class="btn btn-primary">Удалить</button>
                    <a href="{% url 'catalog:product_list' %}" class="btn btn-lg btn-outline-primary" style="margin-right: 10px;">Отменить</a>
                </div>
            </form>

        </div>
    </div>
</div>
{% endblock %}