<section class="text-center container">

    <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Выберите категорию
  </button>
  <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="{% url 'catalog:product_list' %}">Все продукты</a></li>
      {% for category in categories %}
    <li><a class="dropdown-item" href="{% url 'catalog:product_list_by_category' category.pk %}">{{ category.name }}</a></li>
      {% endfor %}
  </ul>
</div>
</section>